spring:
  application:
    name: h2-board
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password: ""
mybatis:
  mapper-locations: mappers/**/*.xml

logging:
  level:
    com.example.h2_board: trace
